body {
  background-color: lightblue;
}

.grid-container {
  display: grid;
  width: 60vw;
  margin: 20px auto;
  text-align: center;
  grid-template-rows: auto auto auto;
  background-color: gold;
  color: white;
  border: 2px solid white;
}

.grid-header {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-footer {
  background-color: black;
  text-align: center;
}

.container {
  width: 200px;
  height: 300px;
  margin: 30px auto;
  position: relative;
}

.vertical {
  background: black;
  width: 25px;
  height: 300px;
  position: absolute;
  right: 25px;
}

.horizontal {
  background: black;
  width: 200px;
  height: 25px;
  position: absolute;
  bottom: 0;
}

.hook {
  width: 100px;
  height: 50px;
  border: solid 25px black;
  border-bottom: none;
  border-right: none;
  position: absolute;
  right: 25px;
}

.man {
  width: 100px;
  height: 175px;
  position: absolute;
  top: 75px;
  left: 25px;
}

.head {
  width: 40px;
  height: 40px;
  border: solid 10px black;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  left: 42px;
  /* display: none; */
}

.torso {
  background: rgb(9, 9, 121);
  background: linear-gradient(90deg, rgba(9, 9, 121, 1) 21%, rgba(2, 0, 36, 1) 49%, rgba(0, 212, 255, 1) 100%);
  width: 55px;
  height: 70px;
  position: absolute;
  top: 15px;
  left: 35px;
  /* display: none; */
}

.leftarm {
  background: black;
  width: 10px;
  height: 60px;
  position: absolute;
  top: 21px;
  left: 15px;
  transform: rotate(20deg);
  /* display: none; */
}

.rightarm {
  background: black;
  width: 10px;
  height: 60px;
  position: absolute;
  top: 21px;
  right: -10px;
  transform: rotate(-20deg);
  /* display: none; */
}

.leftleg {
  background: rgb(9, 9, 121);
  background: linear-gradient(90deg, rgba(9, 9, 121, 1) 21%, rgba(2, 0, 36, 1) 49%, rgba(0, 212, 255, 1) 100%);
  width: 15px;
  height: 60px;
  position: absolute;
  bottom: 31px;
  left: 33px;
  transform: rotate(21deg);
  /* display: none; */
}

.rightleg {
  background: rgb(9, 9, 121);
  background: linear-gradient(90deg, rgba(9, 9, 121, 1) 21%, rgba(2, 0, 36, 1) 49%, rgba(0, 212, 255, 1) 100%);
  width: 15px;
  height: 60px;
  position: absolute;
  bottom: 31px;
  right: 7px;
  transform: rotate(-21deg);
  /* display: none; */
}

.head, .leftarm, .rightarm, .leftleg, .rightleg {
  transition: all .3s ease-in;
}

.btn {
  margin-top: 15px;
}

.form-control {
  border-radius: 0;
}

.lost {
  position: absolute;
  top: 50%;
  left: 0;
  animation: mario 4s linear forwards;
}

.win {
  position: absolute;
  top: 25%;
  left: 0;
  animation: mario 4s linear forwards;
}

@keyframes mario {
  0% {
    left: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    left: 80%;
    opacity: 0;
  }
}

.lost h2 {
  display: inline;
}

.mario {
  width: 100px;
  height: 100px;
}

.win, .lose {
  display: none;
}

.win h2 {
  color: green;
}

.lose h2 {
  color: red;
}

@media only screen and (max-width: 800px) {
  .grid-container {
    width: 100%;
  }
}